@use "../helpers/variables" as *;
@use "../tools/mixins" as *;

/* 
font-family: 'Arsenal', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'Raleway', sans-serif;
*/

html {
  font-size: 62.5%;
  overflow: auto;
  scroll-behavior: smooth;
}

body {
  // height: 100vh;
  background-color: $color-background;
  color: $color-text;
  font-family: "Hind", Arial, Helvetica, sans-serif;
  font-size: $size-text;
  font-weight: 400;
}

// Links
a {
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  @include transitions;
}

// Fonts
h1 {
  color: $color-primary;
  font-size: $size-title;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h2 {
  color: $color-gray-dark;
  font-size: $size-subtitle;
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
}

h3 {
  color: $color-gray-dark;
}

p {
  max-width: 70ch;
}

strong {
  color: $color-gray-dark;
}

// Classes
.container-flex {
  @include container-flex;
}

.container {
  flex: 1;
  padding: 1rem;
}
