@use "../helpers/variables" as *;
@use "../tools/mixins" as *;

/* 
font-family: 'Arsenal', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'Raleway', sans-serif;
*/

html {
  font-size: 62.5%;
  overflow: auto;
  scroll-behavior: smooth;
}

body {
  background-color: $color-background;
  color: $color-text;
  font-family: "Hind", Arial, Helvetica, sans-serif;
  font-size: $size-text;
  font-weight: 400;
  overflow-x: hidden;
}

// Links
a {
  color: inherit;
  cursor: pointer;
  font-size: $size-text;
  font-weight: 500;
  @include transitions;

  &:visited {
    color: $color-triadic-2;
  }

  &:active {
    font-weight: bold;
  }
}

// Fonts
h1 {
  width: 25ch;
  margin: 02rem 0 01rem 0;
  color: $color-primary;
  font-size: $size-title;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
}

h2 {
  margin-bottom: 03rem;
  color: $color-gray-dark;
  font-size: $size-subtitle;
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
}

h3 {
  color: $color-gray-dark;
}

hr {
  margin: 01rem 0;
}

p {
  max-width: 90ch;
}

strong {
  color: $color-gray-dark;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li > a {
  text-decoration: none;
}

noscript {
  display: block;
  margin: 05rem auto 01rem;
  color: $color-error;
  font-size: $size-subtitle;
  font-weight: bold;
  text-align: center;
}

// Classes
.button__icon {
  display: contents;
}

.container-flex {
  @include container-flex;
}

.container-flex-center {
  @include container-flex-center;
}

.container {
  flex: 1;
  // padding: 1rem;
}

.link {
  display: block;
  width: fit-content;
  padding: 01rem 03rem;
  border-radius: 5rem;
  background-color: $color-analogous-2;
  color: #ffff;

  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: lighten($color-triadic-1, 15);
  }

  &:active {
    font-weight: bold;
  }
}

.link__container {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 01rem 0;
  padding: 01rem 02rem;
  background-color: $color-gray-light;
  border-radius: 5rem;

  a {
    font-size: $size-text;
    margin-left: 01rem;
    text-decoration: none;
  }
}
