@use "../helpers/variables" as *;
@use "../tools/mixins" as *;

/* 
font-family: 'Arsenal', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'Raleway', sans-serif;
*/

html {
  font-size: 62.5%;
  overflow: auto;
  scroll-behavior: smooth;
}

body {
  background-color: $color-background;
  color: $color-text;
  font-family: "Hind", Arial, Helvetica, sans-serif;
  font-size: $size-text;
  font-weight: 400;
  overflow-x: hidden;
}

// Links
a {
  color: inherit;
  cursor: pointer;
  font-size: $size-text;
  font-weight: 500;
  @include transitions;
}

// Fonts
h1 {
  width: 25ch;
  margin: 02rem 0 01rem 0;
  color: $color-primary;
  font-size: $size-title;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
}

h2 {
  margin-bottom: 03rem;
  color: $color-gray-dark;
  font-size: $size-subtitle;
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
}

h3 {
  color: $color-gray-dark;
}

hr {
  margin: 01rem 0;
}

p {
  max-width: 90ch;
}

strong {
  color: $color-gray-dark;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Classes
.button__icon {
  display: contents;
}
.container-flex {
  @include container-flex;
}

.container-flex-center {
  @include container-flex-center;
}

.container {
  flex: 1;
  // padding: 1rem;
}

.link {
  display: block;
  width: fit-content;
  padding: 01rem 03rem;
  border-radius: 5rem;
  background-color: $color-analogous-2;
  color: #ffff;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: darken($color-analogous-2, 15);
  }
}
