@use "../helpers/variables" as *;
@use "../tools/mixins" as *;
@use "../tools/responsive" as *;

form {
    width: clamp(35rem, 25vw + 25rem, 50rem);
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    padding: 2rem 4rem;
    background-color: #ffffff;
    border: 1px solid $color-gray;
    border-radius: 4px;

    @include tablet {
        width: 50rem;
    }

    label {
        margin-top: 1.5rem;
    }

    input {
        padding: 0.5rem 0.75rem;
    }

    select {
        padding: 0.35rem;
    }

    input,
    select {
        // flex: 1;
        border: 1px solid $color-gray;
        border-radius: 4px;
        color: $color-gray-dark;
    }

    ::placeholder {
        color: $color-gray-dark;
    }

    option[disabled] {
        display: none;
    }

    .container-flex > input {
        width: 50%;
    }

    .container-flex > select {
        width: 45%;
    }
}
