@use "../helpers/variables" as *;
@use "../tools/mixins.scss" as *;
@use "../tools/responsive.scss" as *;

header {
    @include container-flex;
    padding: 1rem 6.33%;
    border-bottom: 1px solid $color-gray;

    .logo {
        width: clamp(12rem, 10vw + 5rem, 20rem);
    }

    .menu {
        @include laptop {
            display: none;
        }
    }
}
