@use "../helpers/variables" as *;
@use "../tools/mixins.scss" as *;
@use "../tools/responsive.scss" as *;

header {
    @include container-flex-center;
    position: relative;
    padding: 1rem 6.33%;
    border-bottom: 1px solid $color-gray;

    .logo {
        width: clamp(8rem, 10vw + 5rem, 10rem);
        cursor: pointer;
    }

    .header__button-toggle {
        display: flex;
        align-items: center;
        position: absolute;
        right: 6.33%;
        z-index: 100;
        background-color: transparent;
        border: 0;
        cursor: pointer;

        @include laptop {
            display: none;
        }
    }
}
